.profile__edit-button {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  background-image: url('../../../images/profile__edit-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}