.header__logo {
  display: block;
  width: 103.74px;
  height: 24.4px;
  margin-left: 27px;
  margin-bottom: 31.6px;
  background-image: url('../../../images/header__logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .5s ease;
}

@media screen and (min-width: 934px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-left: 0;
    margin-bottom: 41px;
  }
}

.header__logo:hover {
  opacity: .6;
}
