.place__like-button {
  margin-right: 18.24px;
  margin-left: auto;
  width: 20.76px;
  height: 18.13px;
  padding: 0;
  background-image: url('../../../images/places__like-button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity .5s ease;
  transition: background-image .1s ease;
}

.place__like-button:hover {
  opacity: .5;
}

.place__like-button:active {
  background-image: url('../../../images/places__like-button_active.svg');
  opacity: 1;
}
