.place__like-button {
  position: absolute;
  right: 18.24px;
  bottom: 29.87px;
  width: 20.76px;
  height: 18.13px;
  background-image: url('../../../images/places__like-button.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
