.popup__container_type_add-place {
  width: 75%;
  padding: 30px 20px;
  min-width: 240px;
}

@media screen and (min-width: 425px) {
  .popup__container_type_add-place {
    padding: 34px 36px 37px;
  }
}
